/* ==========================================================================
	Media Queries
	3 widths to start with:
		Wide: min width 1280
		Tablet & Phone Landscape: max width 768
		Phone Portrait: max width 480
	========================================================================== */

/* Wide Browser Styles */
@media only screen and (min-width: 1280px) {

}

/* Tablet Styles & Phone Landscape */
@media only screen and (max-width: 768px) {
	.hide-on-mobile {
		display: none !important;
	}
	.show-on-mobile {
		display: block !important;
	}
	.column {
		&.tablet-full {
			width: 100%;
		}
		&.tablet-one-half {
			width: 50%;
		}
		&.tablet-two-thirds {
			width: 66.666666667%;
		}
		&.tablet-one-third {
			width: 66.333333333%;
		}
		&.tablet-one-fourth {
			width: 25%;
		}
		&.tablet-three-fourths {
			width: 75%;
		}
	}
}

/* Phone Portrait Styles */
@media only screen and (max-width: 480px) {
	.hide-on-phone {
		display: none !important;
	}
	.show-on-phone {
		display: block !important;
	}
	.column {
		&.phone-full {
			width: 100%;
		}
		&.phone-one-half {
			width: 50%;
		}
		&.phone-two-thirds {
			width: 66.666666667%;
		}
		&.phone-one-third {
			width: 66.333333333%;
		}
		&.phone-one-fourth {
			width: 25%;
		}
		&.phone-three-fourths {
			width: 75%;
		}
	}
}

/* Retina Screen Media Query */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 144dpi) {

}


@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important; /* Black prints faster:
								   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
