@import '_config';

/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
	box-sizing: border-box;
}

html {
	color: $primary-color;
	font-size: $base-font-size;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/*
 * Default link changes
 */

a {
	transition: all .25s ease;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	color: $link-color;
}


/*
 * Vertical align trick
 * If issues pop up, put a font-size of 0 on the vertical-container div
 * Make sure the height and width are set to auto for vertical-center and vertical-container, and no padding
 */

.vertical-container:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.vertical-center {
	display: inline-block;
	vertical-align: middle;
}

/*
 * Float elements
 */
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

/* ==========================================================================
   Font Styles
   ========================================================================== */
.italic {
	font-style: italic;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}

/* ==========================================================================
   Columns Set Up
   ========================================================================== */

.row {
	margin-left: -20px;
	margin-right: -20px;

	&:before,
	&:after {
		content: ' ';
		display: table;
	}
	&:after {
		clear: both;
	}
	.column {
		float: left;
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;
	}
	&.extra-small {
		margin-left: -5px;
		margin-right: -5px;

		&> .column {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	&.small {
		margin-left: -10px;
		margin-right: -10px;

		&> .column {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	&.large {
		margin-left: -30px;
		margin-right: -30px;

		&> .column {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	&.x-large {
		margin-left: -35px;
		margin-right: -35px;

		&> .column {
			padding-left: 35px;
			padding-right: 35px;
		}
	}
}
.column {
	&.desktop-one-half {
		width: 50%;
	}
	&.desktop-two-thirds {
		width: 66.666666667%;
	}
	&.desktop-one-third {
		width: 33.333333333%;
	}
	&.desktop-one-fourth {
		width: 25%;
	}
	&.desktop-three-fourths {
		width: 75%;
	}
}

/* ==========================================================================
   Inline Menu Styles
   ========================================================================== */
.inline-menu,
.inline-menu li {
	display: inline-block;
}
.inline-menu li {
	margin-left: 15px;

	&:first-child {
		margin-left: 0;
	}
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Page Section
   ========================================================================== */
.page-section {
	width: 100%;
	padding: 50px;

	.container {
		width: 1000px;
		max-width: 100%;
		margin: auto;
	}
}
